<%- include('../partials/header') %>
<%- include('../partials/main_nav') %>

<main>
    <div class="jumbotron">
        <h1 class="display-4">Edit Survey Entry</h1>
        <hr class="my-4">
    </div>

    <form action="/survey/edit/update" method="POST">
        <input type="hidden" name="originalStudentName" value="<%= survey.studentName %>">
        <input type="hidden" name="originalStudentId" value="<%= survey.studentId %>">

        <label for="studentName">Student Name:</label>
        <input type="text" name="studentName" value="<%= survey.studentName %>" required><br><br>

        <label for="studentId">Student ID:</label>
        <input type="text" name="studentId" value="<%= survey.studentId %>" required><br><br>

        <label for="country">Country of Origin:</label>
        <input type="text" name="country" value="<%= survey.country %>" required><br><br>

        <label for="program">Academic Program:</label>
        <input type="text" name="program" value="<%= survey.program %>" required><br><br>

        <button type="submit" class="btn btn-success">Update</button>
        <a href="/survey" class="btn btn-warning">Cancel</a>
    </form>
</main>
